@import "/scss-bootstrap";

$primary-color: #0d6efd;
$light-color: #fff;
$dark-color: #000000;
$colorPeluche: #ffffdb;
$colorPeluchebajo: (255, 255, 233);

// Definición de colores y habilidades
$html-color: #e44d26;
$css-color: #264de4;
$js-color: #f0db4f;
$react-color: #61dafb;
$sqlite-color: #035377;
$node-color: #8cc84b;
$express-color: #36f4f8;
$git-color: #f05032;
$github-color: #be0fb5;
$mongo-color: #47a248;

// body
body {
  background-color: $colorPeluche;
  font-family: Arial, sans-serif;
  padding-top: 56px;
}

.section {
  padding-top: 70px; /* Ajusta este valor según la altura de tu navbar */
  margin-top: -70px; /* Hace que el título esté alineado con la parte superior */
}


.fondo {
  background-color: $colorPeluche; // Para probar el color peluche
}

// navbar
.navbar {
  background-color: $colorPeluche; // Color de fondo
  color: $dark-color;
  border: none; // Eliminar borde
  box-shadow: none; // Eliminar sombra si la hay
  

  .container-fluid {
    background-color: $colorPeluche; // Asegúrate de que el contenedor tenga el mismo color

    .navbar-brand {
      background-color: $colorPeluche; // Opcional, si quieres que el fondo de la marca también sea peluche
      color: $dark-color; // Asegúrate de que el texto sea visible
    }
  }

  .nav-item {
    &:hover {
      background-color: $primary-color; // Color al pasar el ratón
      .nav-link {
        color: $dark-color; // Color del texto
      }
    }
  }

  // Eliminar márgenes y padding
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url("/scss/images/heroSeccion.jpg"); // Imagen de fondo
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0); /* Color del texto */
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
  margin-top: 10px;
}

.info-section {
  background-color: $colorPeluche;
  margin: 0;
  padding: 0;

  // Asegúrate de que el contenedor ocupe todo el ancho
  .container-fluid {
    background-color: $colorPeluche;
    width: 100%; // Ocupa todo el ancho disponible
    max-width: none; // Permite que el contenedor se expanda
    padding: 0; // Eliminar padding si es necesario
    margin: 0; // Eliminar márgenes
  }

  .row {
    .col-md-4 {
      display: flex;
      justify-content: center; // Asegúrate de que esté centrado
    }

    img {
      width: 200px; // Ajusta el tamaño de la imagen
      height: 200px; // Mantén las proporciones
      border-radius: 50%; // Para que sea redonda
      border: 3px solid $dark-color; // Bordes opcionales
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra opcional
      object-fit: cover; // Mantiene la relación de aspecto
    }
  }

  .titulo-Section {
    text-align: center;
    margin: 30px 0; // Márgenes verticales
    color: $dark-color;
    font-size: 2rem;
  }
}

.experience-section {
  background-color: $colorPeluche; /* Amarillo */
  padding: 20px 0;
  border: none;

  .container-fluid {
    h2 {
      text-align: center;
      color: $dark-color;
    }

    .list-group {
      background-color: $light-color;

      .list-group-item {
        background-color: $light-color;
      }
    }
  }
}

.education-section {
  background-color: $colorPeluche;
  color: $dark-color;

  .container-fluid {
    h2 {
      background-color: $colorPeluche; // Aplica el color de fondo directamente al h2
      text-align: center;
    }
    .list-group {
      border-radius: 5px;
      background-color: $light-color;
      .list-group-item {
        background-color: $light-color;
      }
    }
  }
}

.hability {
  max-width: 600px;
  margin: 0 auto;
  background: $colorPeluchebajo;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .skill {
    margin: 15px 0;
    padding: 0 10px;
    background-color: $light-color;
    border-radius: 6px;

    span {
      text-align: center;
      display: block;
      font-weight: bold;
      margin-bottom: 5px;

    }

    .progress {
      background-color: $dark-color;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;

      .progress-bar {
        height: 20px;
        border-radius: 5px;
        transition: width 0.5s ease; // Transición para el efecto visual
      }
    }
  }
}

.html {
  width: 90%;
  background-color: $html-color;
}

.css {
  width: 85%;
  background-color: $css-color;
}

.js {
  width: 75%;
  background-color: $js-color;
}

.react {
  width: 70%;
  background-color: $react-color;
}

/* Aqui sucede algo que al parecer suscribe 
  las especificasiones actuales 
  por eso uso el !importatn 
*/

.sqlite {
  width: 30%!important;
  background-color: $sqlite-color!important;
}

.node {
  width: 40%!important;
  background-color: $node-color!important;
}

.express {
  width: 40%!important;
  background-color: $express-color!important;
}

.git {
  width: 50%!important;
  background-color: $git-color!important;
}

.github {
  width: 70%!important;
  background-color: $github-color!important;
}

.mongo {
  width: 1%!important;
  background-color: $mongo-color!important;
}
